@page
@model BusTransportationSystem.Pages.ContactModel
@{
}
<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="https://images.unsplash.com/photo-1565043666747-69f6646db940?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></div>
	<div class="home_content">
		<div class="home_title">contact</div>
	</div>
</div>

<!-- Contact -->

<!-- About -->
<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">

				<!-- About - Image -->

				<div class="about_image">
					<img src="~/css/images/man.png" alt="">
				</div>

			</div>

			<div class="col-lg-4">

				<!-- About - Content -->

				<div class="about_content">
					<div class="logo_container about_logo">
						<div class="logo"><a href="#"><img src="~/css/images/logo.png" alt="">Bus Transportation</a></div>
					</div>
					<p class="about_text">We provide best services that are going to leave you speechless. And we are so eager to give you the best trip ever</p>
					<ul class="about_social_list">
			
						<li class="about_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
						<li class="about_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="about_social_item"><a href="#"><i class="fa fa-youtube"></i></a></li>
						<li class="about_social_item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>

			</div>

			<div class="col-lg-3">

				<!-- About Info -->

				<div class="about_info">
					<ul class="contact_info_list">
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="~/css/images/placeholder.svg" alt=""></div></div>
							<div class="contact_info_text">Kigali-Rwanda</div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="~/css/images/phone-call.svg" alt=""></div></div>
							<div class="contact_info_text">2556-808-8613</div>
						</li>
						<li class="contact_info_item d-flex flex-row">
							<div><div class="contact_info_icon"><img src="~/css/images/message.svg" alt=""></div></div>
							<div class="contact_info_text"><a href="mailto:josephusmupanda48@gmail.com?Subject=Hello" target="_top">josephusmupanda48@gmail.com</a></div>
						</li>
						
					</ul>
				</div>

			</div>

		</div>
	</div>
</div>



