@page
@model BusTransportationSystem.Pages.Bus.Pages_Bus_AdminDashboard
@{
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-item">
            <a href="/manage-users">Manage Users</a>
        </div>
        <div class="dashboard-item">

            <a href="/Bus/ManageVehicle/Index">Manage Vehicles</a>
        </div>
        <div class="dashboard-item">
            <a href="/Bus/ManageTrip/Index">Manage Trips</a>
        </div>
        <div class="dashboard-item">
            <a href="/Bus/ManageStop/Index">Manage Station</a>
        </div>
    </div>
</body>

</html>


