<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />

</head>
<body class="container-fluid" style="background-color:#e6e6e6; height: 500px">
    @* NAVBAR *@
    <nav class="navbar fixed-top bg-white">
        <div class="container-md">
            <div class="navbar-brand d-flex align-items-center">
                
                <h3 class="custom-color fw-bold fs-3 ms-3">Welcome </h3>
            </div>
            <a href="/Bus/ManageVehicles" class="border-0 bg-white text-secondary text-decoration-none fs-5 ms-4 mb-2">
                <i class="bi bi-person me-2"></i>select available locations
            </a>
            <a href="/Bus/ClientRide/Index" class="border-0 bg-white text-secondary text-decoration-none fs-5 ms-4 mb-2">
                <i class="bi bi-person me-2"></i>Add Your Ride
            </a>
            <a href="/Bus/BookStatus" class="border-0 bg-white text-secondary text-decoration-none fs-5 ms-4 mb-2">
                <i class="bi bi-credit-card m-2"></i>Booking History
            </a>
            
            <a href="/Index" class="border-0 bg-white text-secondary text-decoration-none fs-5 ms-4 mb-2">
                <i class="bi bi-box-arrow-right me-2"></i>Log out
            </a>

                </div>

            </div>
        </div>
    </nav>
    
 
    
       
            @RenderBody()
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
</body>
</html>
